<%- include("templates/header") %>
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br /><br />
    <h1 class="header center orange-text"><%= title %></h1>
    <div class="row center">
      <form action="<%= formAction %>" method="post" class="col s12">
        <% for (let i = 0; i < inputs.length; i++) { %>
        <div class="input-field col s12">
          <input
            id="<%= inputs[i].id %>"
            name="<%= inputs[i].name %>"
            type="<%= inputs[i].type %>"
            placeholder="<%= inputs[i].placeholder %>"
          />
          <label for="<%= inputs[i].id %>"><%= inputs[i].label %></label>
        </div>
        <% } %>
        <div class="input-field col s12">
          <input class="btn waves-effect waves-light orange" type="submit" />
        </div>
      </form>
    </div>
    <% if (errorMessage) { %>
    <div class="row center">
      <h5 class="header col s12 deep-orange-text text-accent-3">
        <%= errorMessage %>
      </h5>
    </div>
    <% } %>
    <br /><br />
  </div>
</div>
<%- include("templates/footer") %>
